.b-footer {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	background: #3b3b3b;
	padding: 40px 30px;
	margin: 0;
	color: #999;
	grid-gap: 20px;
	text-align: justify;
	font-size: 12px;
	line-height: 1.6;

	&__title {
		color: #666;
		text-transform: uppercase;
		margin-bottom: 30px;
		font-weight: 100;
	}

	&__text {
		margin-bottom: 30px;
	}

	&__linksList {
		&_item {
			text-decoration: none;
			display: block;
			color: inherit;
			border-bottom: 1px solid #484848;
			padding: 10px 0;

			&:first-child {
				padding-top: 0;
			}
		}
	}

	&__blogTitle {
		font-size: 13px;
		line-height: 1.2;
		font-weight: bold;
	}

	&__blogMore {
		color: #81b300;
		display: block;
		text-align: right;
		padding-top: 10px;
	}

	&__input {
		display: block;
		padding: 10px;
		background: #1f1f1f;
		color: #999;
		min-width: 210px;
		border: none;
		border-radius: 5px;
		font-family: inherit;
		margin-bottom: 10px;
	}

	&__btn {
		padding: 10px;
		border-radius: 5px;
		border: none;
		background: #1f1f1f;
		color: #81b300;
		text-transform: uppercase;
		outline: none;
		font-family: inherit;
	}
}
