.b-siteNav {
	background-color: #81b300;
	display: flex;
	justify-content: space-between;

	&__list {
		list-style: none;
		display: flex;
		align-items: center;
	}

	&__item a {
		font-size: 13px;
		font-weight: 100;
		line-height: 1;
		text-transform: uppercase;
		color: #fff;
		padding-right: 15px;
		text-decoration: none;

		&:hover {
			color: #000;
			text-decoration: none;
		}
	}

	&__search {
		margin-right: 30px;
		padding: 0;
		height: 30px;
		display: flex;

		&_fild {
			border: none;
			height: inherit;
			padding: 10px;
			outline: none;
			font-size: 12px;
			font-family: inherit;
			line-height: 1.2;
			color: #7f7f7f;
		}

		&_bth {
			font-family: inherit;
			background-color: #fff;
			text-transform: uppercase;
			color: #81b300;
			font-size: 12px;
			border: none;
			height: inherit;
			padding: 0 10px;
		}
	}
}
